/* Existing styles */

.heroSection {
  height: 550px;
  padding-top: 180px;
  padding-right: 0;
  padding-bottom: 300px;
  padding-left: 0;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("/Hero-Section-Image.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.paragraphs {
  color: white;
  opacity: 0; /* Initially hidden */
  animation: slideInText 1.5s forwards; /* Animation duration */
}

/* Keyframes for the text slide-in animation */
@keyframes slideInText {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Start from below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Move to its original position */
  }
}
.style{
  padding-left: 120px;
}

@media screen and (max-width: 600px){
  .style{
    padding-left: 20px;
    padding-right: 6px;
  }
}