.button{
    padding: 18px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}

@media (max-width: 600px) {
    .button {
        margin-top: 10px;
        padding: 19px;
        padding-left: 146px;
        padding-right: 146px;
        background-color: white;
    }
}