.button{
    padding: 18px;
    padding-left: 18px;
    padding-right: 18px;
    background-color: white;
}

@media (max-width: 600px) {
    .button {
        margin-top: 10px;
        padding: 19px;
        padding-left: 140px;
        padding-right: 140px;
    }
}